USE [master]
GO
/****** Object:  Database [Gestion_Escolar]    Script Date: 13/8/2026 8:31:13 p. m. ******/
CREATE DATABASE [Gestion_Escolar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion_Escolar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gestion_Escolar.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion_Escolar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gestion_Escolar_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion_Escolar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion_Escolar]
GO
/****** Object:  Table [dbo].[AreaTecnica]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaTecnica](
	[id_AreaTecnica] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Area] [nvarchar](100) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_AreaTecnica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[id_Estudiante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](35) NULL,
	[Apellidos] [char](35) NULL,
	[Direccion] [varchar](115) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](85) NULL,
	[Estado] [bit] NULL,
	[id_AreaTecnica] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante_Materia]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante_Materia](
	[id_Estudiantes_Materia] [int] IDENTITY(1,1) NOT NULL,
	[id_Estudiante] [int] NOT NULL,
	[id_Materia] [int] NOT NULL,
	[id_profesor] [int] NULL,
	[Estado] [bit] NOT NULL,
	[id_AreaTecnica] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Estudiantes_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[id_Materia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Materia] [varchar](30) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor_Materia]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor_Materia](
	[id_ProfesorMateria] [int] IDENTITY(1,1) NOT NULL,
	[id_Profesor] [int] NOT NULL,
	[id_Materia] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ProfesorMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Profesor_Materia] UNIQUE NONCLUSTERED 
(
	[id_Profesor] ASC,
	[id_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[id_Profesor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellidos] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Direccion] [nvarchar](150) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AreaTecnica] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Estudiante] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Estudiante_Materia] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Materia] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Profesor_Materia] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_AreaTecnica] FOREIGN KEY([id_AreaTecnica])
REFERENCES [dbo].[AreaTecnica] ([id_AreaTecnica])
GO
ALTER TABLE [dbo].[Estudiante] CHECK CONSTRAINT [FK_Estudiante_AreaTecnica]
GO
ALTER TABLE [dbo].[Estudiante_Materia]  WITH CHECK ADD  CONSTRAINT [FK_EM_Estudiante] FOREIGN KEY([id_Estudiante])
REFERENCES [dbo].[Estudiante] ([id_Estudiante])
GO
ALTER TABLE [dbo].[Estudiante_Materia] CHECK CONSTRAINT [FK_EM_Estudiante]
GO
ALTER TABLE [dbo].[Estudiante_Materia]  WITH CHECK ADD  CONSTRAINT [FK_EM_Materia] FOREIGN KEY([id_Materia])
REFERENCES [dbo].[Materia] ([id_Materia])
GO
ALTER TABLE [dbo].[Estudiante_Materia] CHECK CONSTRAINT [FK_EM_Materia]
GO
ALTER TABLE [dbo].[Estudiante_Materia]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteMateria_AreaTecnica] FOREIGN KEY([id_AreaTecnica])
REFERENCES [dbo].[AreaTecnica] ([id_AreaTecnica])
GO
ALTER TABLE [dbo].[Estudiante_Materia] CHECK CONSTRAINT [FK_EstudianteMateria_AreaTecnica]
GO
ALTER TABLE [dbo].[Estudiante_Materia]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteMateria_Estudiante] FOREIGN KEY([id_Estudiante])
REFERENCES [dbo].[Estudiante] ([id_Estudiante])
GO
ALTER TABLE [dbo].[Estudiante_Materia] CHECK CONSTRAINT [FK_EstudianteMateria_Estudiante]
GO
ALTER TABLE [dbo].[Estudiante_Materia]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteMateria_Materia] FOREIGN KEY([id_Materia])
REFERENCES [dbo].[Materia] ([id_Materia])
GO
ALTER TABLE [dbo].[Estudiante_Materia] CHECK CONSTRAINT [FK_EstudianteMateria_Materia]
GO
ALTER TABLE [dbo].[Estudiante_Materia]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteMateria_Profesor] FOREIGN KEY([id_profesor])
REFERENCES [dbo].[Profesores] ([id_Profesor])
GO
ALTER TABLE [dbo].[Estudiante_Materia] CHECK CONSTRAINT [FK_EstudianteMateria_Profesor]
GO
ALTER TABLE [dbo].[Profesor_Materia]  WITH CHECK ADD  CONSTRAINT [FK_Profesor_Materia_Profesor] FOREIGN KEY([id_Profesor])
REFERENCES [dbo].[Profesores] ([id_Profesor])
GO
ALTER TABLE [dbo].[Profesor_Materia] CHECK CONSTRAINT [FK_Profesor_Materia_Profesor]
GO
ALTER TABLE [dbo].[Profesor_Materia]  WITH CHECK ADD  CONSTRAINT [FK_ProfesorMateria_Materia] FOREIGN KEY([id_Materia])
REFERENCES [dbo].[Materia] ([id_Materia])
GO
ALTER TABLE [dbo].[Profesor_Materia] CHECK CONSTRAINT [FK_ProfesorMateria_Materia]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarAreaTecnica]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarAreaTecnica]
    @id_AreaTecnica INT,
    @Nombre_Area VARCHAR(100)
AS
BEGIN
    UPDATE AreaTecnica
    SET Nombre_Area = @Nombre_Area
    WHERE id_AreaTecnica = @id_AreaTecnica
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstudianteMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarEstudianteMateria]
(
    @id_Estudiantes_Materia INT,
    @id_Estudiante INT,
    @id_Materia INT,
    @id_Profesor INT,
    @id_AreaTecnica INT,
    @Estado BIT
)
AS
BEGIN
    UPDATE Estudiante_Materia
    SET 
        id_Estudiante = @id_Estudiante,
        id_Materia = @id_Materia,
        id_Profesor = @id_Profesor,
        id_AreaTecnica = @id_AreaTecnica,
        Estado = @Estado
    WHERE id_Estudiantes_Materia = @id_Estudiantes_Materia
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstudiantes]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarEstudiantes]
    @id_Estudiante INT,
    @Nombre VARCHAR(100),
    @Apellidos VARCHAR(100),
    @Direccion VARCHAR(200),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100),
    @id_AreaTecnica INT,
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verifica que exista el id_AreaTecnica en AreaTecnica
    IF EXISTS (SELECT 1 FROM AreaTecnica WHERE id_AreaTecnica = @id_AreaTecnica)
    BEGIN
        UPDATE Estudiante
        SET
            Nombre         = @Nombre,
            Apellidos      = @Apellidos,
            Direccion      = @Direccion,
            Telefono       = @Telefono,
            Email          = @Email,
            id_AreaTecnica = @id_AreaTecnica,
            Estado         = @Estado
        WHERE id_Estudiante = @id_Estudiante;
    END
    ELSE
    BEGIN
        RAISERROR('El id_AreaTecnica proporcionado no existe.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProfesor]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProfesor]
    @id_Profesor INT,
    @Nombre NVARCHAR(50),
    @Apellidos NVARCHAR(50),
    @Telefono NVARCHAR(15),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(150)
AS
BEGIN
    UPDATE Profesores
    SET 
        Nombre = @Nombre,
        Apellidos = @Apellidos,
        Telefono = @Telefono,
        Email = @Email,
        Direccion = @Direccion
    WHERE id_Profesor = @id_Profesor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProfesorMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_ActualizarProfesorMateria]
    @id_ProfesorMateria INT,
    @id_Profesor INT,
    @id_Materia INT,
    @Estado BIT
AS
BEGIN
    UPDATE Profesor_Materia
    SET 
        id_Profesor = @id_Profesor,
        id_Materia = @id_Materia,
        Estado = @Estado
    WHERE id_ProfesorMateria = @id_ProfesorMateria;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarAreaTecnicaPorNombre]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BuscarAreaTecnicaPorNombre]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SELECT 
        id_AreaTecnica,
        Nombre_Area,
        Estado
    FROM AreaTecnica
    WHERE Estado = 1
          AND Nombre_Area LIKE '%' + @Nombre + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarEstudiantePorNombre]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_BuscarEstudiantePorNombre]
    @Nombre VARCHAR(50)
AS
BEGIN
    SELECT 
        e.id_Estudiante,
        e.Nombre,
        e.Apellidos,
        e.Direccion,
        e.Telefono,
        e.Email,
        a.Nombre_Area AS NombreArea
    FROM Estudiante e
    INNER JOIN AreaTecnica a 
        ON e.id_AreaTecnica = a.id_AreaTecnica
    WHERE e.Nombre LIKE '%' + @Nombre + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarMateria]
    @texto NVARCHAR(100)
AS
BEGIN
    SELECT id_Materia, Nombre_Materia
    FROM Materia
    WHERE Nombre_Materia LIKE '%' + @texto + '%'
      AND Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarMateriaNombre]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarMateriaNombre]
@Nombre VARCHAR(30)
AS
SELECT * FROM Materia WHERE Nombre_Materia LIKE '%' + @Nombre + '%';
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProfesor]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarProfesor]
    @Texto VARCHAR(100)
AS
BEGIN
    SELECT
        id_Profesor,
        Nombre,
        Apellidos,
        Telefono,
        Email,
        Direccion,
        Estado
    FROM Profesores
    WHERE Estado = 1
      AND (
            Nombre    LIKE '%' + @Texto + '%'
         OR Apellidos LIKE '%' + @Texto + '%'
         OR Email     LIKE '%' + @Texto + '%'
      );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstadoEstudiante]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstadoEstudiante]
    @id_Estudiante INT
AS
BEGIN
    UPDATE Estudiante
    SET Estado = CASE 
                    WHEN Estado = 1 THEN 0 
                    ELSE 1 
                 END
    WHERE id_Estudiante = @id_Estudiante
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarAreaTecnica]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarAreaTecnica]
    @id_AreaTecnica INT
AS
BEGIN
    UPDATE AreaTecnica
    SET Estado = 0
    WHERE id_AreaTecnica = @id_AreaTecnica
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEstudiante]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EliminarEstudiante]
    @id_Estudiante INT
AS
BEGIN
    UPDATE Estudiante
    SET Estado = 0
    WHERE id_Estudiante = @id_Estudiante
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEstudianteMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_EliminarEstudianteMateria]
    @id_Estudiantes_Materia INT
AS
BEGIN
    UPDATE dbo.Estudiante_Materia
    SET Estado = 0
    WHERE id_Estudiantes_Materia = @id_Estudiantes_Materia
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarMateria]
    @id_Materia INT
AS
BEGIN
    UPDATE Materia
    SET Estado = 0
    WHERE id_Materia = @id_Materia
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProfesor]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_EliminarProfesor]
    @id_Profesor INT
AS
BEGIN
    UPDATE Profesores
    SET Estado = 0
    WHERE id_Profesor = @id_Profesor
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProfesorMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_EliminarProfesorMateria]
    @id_ProfesorMateria INT
AS
BEGIN
    UPDATE Profesor_Materia
    SET Estado = 0
    WHERE id_ProfesorMateria = @id_ProfesorMateria;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarAreaTecnica]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarAreaTecnica]
    @Nombre_Area VARCHAR(100)
AS
BEGIN
    INSERT INTO AreaTecnica (Nombre_Area, Estado)
    VALUES (@Nombre_Area, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEstudiante]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarEstudiante]
    @Nombre VARCHAR(50),
    @Apellidos VARCHAR(50),
    @Direccion VARCHAR(100),
    @Telefono VARCHAR(20),
    @Email VARCHAR(50),
    @id_AreaTecnica INT
AS
BEGIN
    INSERT INTO Estudiante
    (
        Nombre,
        Apellidos,
        Direccion,
        Telefono,
        Email,
        id_AreaTecnica
    )
    VALUES
    (
        @Nombre,
        @Apellidos,
        @Direccion,
        @Telefono,
        @Email,
        @id_AreaTecnica
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEstudianteMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarEstudianteMateria]
    @id_Estudiante INT,
    @id_Materia INT,
    @id_profesor INT,
    @id_AreaTecnica INT
AS
BEGIN
    INSERT INTO dbo.Estudiante_Materia
        (id_Estudiante, id_Materia, id_profesor, id_AreaTecnica, Estado)
    VALUES
        (@id_Estudiante, @id_Materia, @id_profesor, @id_AreaTecnica, 1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarMateria]
    @Nombre_Materia VARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Materia (Nombre_Materia)
    VALUES (@Nombre_Materia)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProfesor]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProfesor]
    @Nombre NVARCHAR(50),
    @Apellidos NVARCHAR(50),
    @Telefono NVARCHAR(15),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(150)
AS
BEGIN
    INSERT INTO Profesores (
        Nombre,
        Apellidos,
        Telefono,
        Email,
        Direccion,
        Estado
    )
    VALUES (
        @Nombre,
        @Apellidos,
        @Telefono,
        @Email,
        @Direccion,
        1
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProfesorMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProfesorMateria]
    @id_Profesor INT,
    @id_Materia INT
AS
BEGIN
    INSERT INTO Profesor_Materia (id_Profesor, id_Materia, Estado)
    VALUES (@id_Profesor, @id_Materia, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarAreasTecnicas]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarAreasTecnicas]
AS
BEGIN
    SELECT id_AreaTecnica, Nombre_Area
    FROM AreaTecnica
    WHERE Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarAreaTecnica]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarAreaTecnica]
AS
BEGIN
    SELECT id_AreaTecnica, Nombre_Area
    FROM AreaTecnica
    WHERE Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEstudianteMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarEstudianteMateria]
AS
BEGIN
    SELECT 
        em.id_Estudiantes_Materia,

        em.id_Estudiante,
        em.id_Materia,
        em.id_profesor,
        em.id_AreaTecnica,

        e.Nombre + ' ' + e.Apellidos AS Estudiante,
        a.Nombre_Area AS AreaTecnica,
        m.Nombre_Materia AS Materia,
        p.Nombre + ' ' + p.Apellidos AS Profesor,

        em.Estado
    FROM Estudiante_Materia em
    INNER JOIN Estudiante e 
        ON em.id_Estudiante = e.id_Estudiante
    INNER JOIN AreaTecnica a 
        ON em.id_AreaTecnica = a.id_AreaTecnica
    INNER JOIN Materia m 
        ON em.id_materia = m.id_Materia
    INNER JOIN Profesores p 
        ON em.id_profesor = p.id_profesor
    WHERE em.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEstudiantes]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarEstudiantes]
AS
BEGIN
    SELECT 
        e.id_Estudiante,
        e.Nombre,
        e.Apellidos,
        e.Direccion,
        e.Telefono,
        e.Email,
        e.id_AreaTecnica,
        a.Nombre_Area AS AreaTecnica
    FROM Estudiante e
    INNER JOIN AreaTecnica a
        ON e.id_AreaTecnica = a.id_AreaTecnica
    WHERE e.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMateriaBusqueda]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarMateriaBusqueda]
AS
BEGIN
    SELECT 
        m.id_Materia,
        m.Nombre AS Materia,
        p.id_Profesor,
        p.Nombre AS Profesor
    FROM Materia m
    INNER JOIN Profesor p 
        ON m.id_Profesor = p.id_Profesor
    WHERE m.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMateriaConProfesor]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarMateriaConProfesor]
AS
BEGIN
    SELECT 
        m.id_Materia,
        m.Nombre_Materia AS Materia,
        p.id_Profesor,
        p.Nombre AS Profesor
    FROM Profesor_Materia pm
    INNER JOIN Materia m 
        ON pm.id_Materia = m.id_Materia
    INNER JOIN Profesores p 
        ON pm.id_Profesor = p.id_Profesor
    WHERE pm.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMaterias]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarMaterias]
AS
BEGIN
    SELECT 
        id_Materia,
        Nombre_Materia
    FROM Materia
    WHERE Estado = 1
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarMateriasPorEstudiante]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_ListarMateriasPorEstudiante]
    @id_Estudiante INT
AS
BEGIN
    SELECT 
        em.id_Estudiantes_Materia,
        m.Nombre_Materia AS Materia,
        p.Nombre AS Profesor
    FROM Estudiante_Materia em
    INNER JOIN Materia m 
        ON em.id_Materia = m.id_Materia
    INNER JOIN Profesores p 
        ON em.id_Profesor = p.id_Profesor
    WHERE em.id_Estudiante = @id_Estudiante
      AND em.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProfesores]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProfesores]
AS
BEGIN
    SELECT 
        id_Profesor,
        Nombre + ' ' + Apellidos AS NombreCompleto,
        Telefono,
        Email,
        Direccion,
        Estado
    FROM Profesores
    WHERE Estado = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarProfesorMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarProfesorMateria]
AS
BEGIN
    SELECT 
        pm.id_ProfesorMateria,
        p.Nombre + ' ' + p.Apellidos AS Profesor,
        m.Nombre_Materia AS Materia,
        pm.Estado
    FROM Profesor_Materia pm
    INNER JOIN Profesores p ON pm.Id_Profesor = p.Id_Profesor
    INNER JOIN Materia m ON pm.id_Materia = m.id_Materia
    WHERE pm.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarReporteMatricula]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ListarReporteMatricula]
AS
BEGIN
    SELECT 
        M.Nombre_Materia AS Materia,
        P.Nombre AS Profesor
    FROM Estudiante_Materia EM
    INNER JOIN Materia M ON EM.id_Materia = M.id_Materia
    INNER JOIN Profesores P ON EM.id_Profesor = P.id_Profesor
    WHERE EM.Estado = 1   -- 🔥 SOLO ACTIVOS
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteEstudiantesPorArea]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteEstudiantesPorArea]
AS
BEGIN
    SELECT 
        a.Nombre_Area AS AreaTecnica,
        COUNT(e.id_Estudiante) AS TotalEstudiantes
    FROM AreaTecnica a
    LEFT JOIN Estudiante e 
        ON a.id_AreaTecnica = e.id_AreaTecnica 
        AND e.Estado = 1
    GROUP BY a.Nombre_Area
    ORDER BY TotalEstudiantes DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteMateriasPorEstudiante]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteMateriasPorEstudiante]
    @IdEstudiante INT
AS
BEGIN
    SELECT 
        E.Nombre AS Estudiante,
        AT.Nombre_Area AS AreaTecnica,
        M.Nombre_Materia AS Materia,
        P.Nombre + ' ' + P.Apellidos AS Profesor
    FROM Estudiante_Materia EM
    INNER JOIN Estudiante E ON EM.id_Estudiante = E.id_Estudiante
    INNER JOIN AreaTecnica AT ON EM.id_AreaTecnica = AT.id_AreaTecnica
    INNER JOIN Materia M ON EM.id_Materia = M.id_Materia
    INNER JOIN Profesores P ON EM.id_Profesor = P.id_Profesor
    WHERE EM.id_Estudiante = @IdEstudiante
    AND EM.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteMatriculaJJ]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteMatriculaJJ]
    @IdEstudiante INT
AS
BEGIN
    SELECT 
        e.id_Estudiante,

        e.Nombre + ' ' + e.Apellidos AS NombreEstudiante,

        at.Nombre_Area AS AreaTecnica,

        m.Nombre_Materia AS Materia,

        p.Nombre + ' ' + p.Apellidos AS Profesores

    FROM Estudiante_Materia em

    INNER JOIN Estudiante e 
        ON e.id_Estudiante = em.id_Estudiante

    INNER JOIN AreaTecnica at 
        ON at.id_AreaTecnica = em.id_AreaTecnica

    INNER JOIN Materia m 
        ON m.id_Materia = em.id_Materia

    INNER JOIN Profesores p 
        ON p.id_profesor = em.id_profesor

    WHERE em.id_Estudiante = @IdEstudiante
    AND em.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarEstudianteMateria]    Script Date: 13/8/2026 8:31:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidarEstudianteMateria]
    @id_Estudiante INT,
    @id_Materia INT
AS
BEGIN
    SELECT COUNT(*) 
    FROM dbo.Estudiante_Materia
    WHERE id_Estudiante = @id_Estudiante
      AND id_Materia = @id_Materia
      AND Estado = 1
END
GO
USE [master]
GO
