<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="cn" connectionString="Data Source=.;Initial Catalog=Gestion_Escolar;Integrated Security=True" />
  <add name="Capa.Presentacion.Properties.Settings.Gestion_EscolarConnectionString"
   connectionString="Data Source=Isaac;Initial Catalog=Gestion_Escolar;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>